= simple_form_for([:admin, @headline], :defaults => { :input_html => { :class => 'input-xlarge' } }) do |f|
  = f.error_notification

  .form-inputs
    = f.input :title
    = f.input :body

  .form-actions
    = f.button :submit, :class => "btn-primary"
