%section#content.container
  .page-header
    = link_to new_admin_headline_path, :class => 'btn btn-primary' do
      %i.icon-plus.icon-white
      New Headline
    %h1 Listing headlines

  %table.table.table-bordered.table-striped
    %thead
      %tr
        %th Title
        %th Body
        %th
        %th
        %th

    %tbody
      - @headlines.each do |headline|
        %tr
          %td= headline.title
          %td= headline.body
          %td= link_to 'Show', [:admin, headline]
          %td= link_to 'Edit', edit_admin_headline_path(headline)
          %td= link_to 'Destroy', [:admin, headline], :confirm => 'Are you sure?', :method => :delete
